:host {
  display: block;
}
#calendar {
  background-color: #FAFAFA;
  border-radius: 6px;
  padding: 10px;
  margin-left: 10px;
  text-align: center;
  font-size: 18px;
  font-weight: 200;
  line-height: 30px;
  position: relative;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.calendar-head {
  background: #3F51B5;
  color: #fff;
}
#content {
  margin-bottom: 10px;
}
.header {
  text-align: center;
}
.days {
  width: 13%;
}
@media (max-width: 400px){
  #calendar {
   font-size: 12px;
  }
}

@media (min-width: 770px){
  #calendar {
    font-size: 25px;
  }
}

.days.fade {
  color: #c9c9c9;
}
.months {
  width: 100px;
}

.years {
  width: 60px;
}
.days.core-selected,
.months.core-selected,
.years.core-selected {
  color: #F50057;
}

paper-button.colored {
  color: #3F51B5;
  fill: #3F51B5;
}

paper-button[simpleButton].colored {
  background: #3F51B5;
  color: #fff;
}

paper-button:not([simpleButton]){
min-width: 2.1em;
  margin: 0;

}
#content paper-button::shadow #ripple {
  color: #F50057;
}

paper-button::shadow .button-content{
  margin: 0;
  padding: 0;
}

#loadingAnim{
  position: absolute;
  top: 40%;
  left: 49.5%;
  display: none;
}
